@font-face {
	font-family: 'NotoSans';
	font-display: swap;
	src: url("../fonts/NotoSans-Black.woff2") format("woff2"),
	 url("../fonts/NotoSans-Black.woff") format("woff"),
	 url("../fonts/NotoSans-Black.ttf") format("ttf"); 
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
	 url("../fonts/Montserrat-Regular.woff") format("woff"),
	 url("../fonts/Montserrat-Regular.ttf") format("ttf"); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSans';
	font-display: swap;
	src: url("../fonts/NotoSans-Bold.woff2") format("woff2"),
	 url("../fonts/NotoSans-Bold.woff") format("woff"),
	 url("../fonts/NotoSans-Bold.ttf") format("ttf"); 
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSans';
	font-display: swap;
	src: url("../fonts/NotoSans-ExtraBold.woff2") format("woff2"),
	 url("../fonts/NotoSans-ExtraBold.woff") format("woff"),
	 url("../fonts/NotoSans-ExtraBold.ttf") format("ttf"); 
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSans';
	font-display: swap;
	src: url("../fonts/NotoSans-Medium.woff2") format("woff2"),
	 url("../fonts/NotoSans-Medium.woff") format("woff"),
	 url("../fonts/NotoSans-Medium.ttf") format("ttf"); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSans';
	font-display: swap;
	src: url("../fonts/NotoSans-SemiBoldItalic.woff2") format("woff2"),
	 url("../fonts/NotoSans-SemiBoldItalic.woff") format("woff"),
	 url("../fonts/NotoSans-SemiBoldItalic.ttf") format("ttf"); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSans';
	font-display: swap;
	src: url("../fonts/NotoSans-Regular.woff2") format("woff2"),
	 url("../fonts/NotoSans-Regular.woff") format("woff"),
	 url("../fonts/NotoSans-Regular.ttf") format("ttf"); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
	 url("../fonts/Roboto-Regular.woff") format("woff"),
	 url("../fonts/Roboto-Regular.ttf") format("ttf"); 
	font-weight: 400;
	font-style: normal;
}
