.logo {
  display: block;
  width: 8.3125rem;
  height: 4.125rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 64rem) {
  .logo {
    width: 6.9375rem;
    height: 3.5rem;
  }
}