::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7d7d7d;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: .625rem;
    
    &:hover {
        background-color: #dedede; 
    }

    &:active {
        background-color: #c5c5c5; 
    }
}