/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* root */

:root {
  --black: #000;
  --white: #FFF;
  --red-400: #B82121;
  --grey-800: #393939;
  --grey-300: #E0E0E0;
}

/* settings */

html {
  scroll-behavior: smooth; 
  font-size: 100%;
  height: 100%;
}

body {
  font-family: "NotoSans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  color: var(--white); 
  background-color: var(--black);
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-wrapp {
  flex: 1 0 auto;
}

.main {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.container {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 .625rem;

  &_small {
    max-width: 62.6875rem;
  }
}

.smoke {
  position: absolute;
  z-index: -1;
  top: 848px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-title {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  text-align: center;
  max-width: 39.5rem;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    gap: 1.875rem;
  }
}

.title {
  font-weight: 900;
  font-size: 48px;
  line-height: 146%;

  @media screen and (max-width: 1024px) {
    font-size: 1.75rem;
  }
}

.btn {
  background: var(--red-400);
  font-weight: 900;
  font-size: .875rem;
  width: 14.3125rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .3125rem;
}